.background {
  viewport-fill: gray;
}

#clock-label {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 150;
  y: 280;
  fill: white;
}

#date-label {
  x: 150;
  y: 220;
  font-size: 20;
  font-family: System-Bold;
  text-length: 22;
  text-anchor: middle;
  fill: gray;
}

#battery {
  x: 276;
  y: 2;
  width: 24;
  height: 24;
  text-anchor: end;
}

#battery-label {
  x: 274;
  y: 20;
  font-size: 20;
  font-family: System-Bold;
  text-length: 22;
  text-anchor: end;
  fill: white;
}

#heart {
  x: 2;
  y: 2;
  text-anchor: start;
  width: 24;
  height: 24;
}

#heart-rate-label {
  x: 28;
  y: 20;
  font-size: 20;
  font-family: System-Bold;
  text-length: 22;
  text-anchor: start;
  fill: white;
}

#message-label {
  font-size: 30;
  font-family: System-Bold;
  text-length: 22;
  text-anchor: middle;
  x: 110;
  y: 180;
  fill: white;
}
