#date-label {
  x: 150;
  y: 220;
  font-size: 20;
  font-family: System-Bold;
  text-length: 22;
  text-anchor: middle;
  fill: #F3EED9;
}

#battery {
  x: 276;
  y: 2;
  width: 24;
  height: 24;
  text-anchor: end;
}

#battery-label {
  x: 274;
  y: 20;
  font-size: 20;
  font-family: System-Bold;
  text-length: 22;
  text-anchor: end;
  fill: #FFF4F3;
}

#heart {
  x: 2;
  y: 2;
  text-anchor: start;
  width: 24;
  height: 24;
}

#heart-rate-label {
  x: 28;
  y: 20;
  font-size: 20;
  font-family: System-Bold;
  text-length: 22;
  text-anchor: start;
  fill: #FFF4F3;
}

#clock-label {
  x: 150;
  y: 290;
  /* fill: #E2B659; */
  fill: #E29897;
}
